*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
}

/* Dark Toggle */
body.dark {
    background-color: #323131;
    color: #ebac2d;
}

.toggle-container {
    position: fixed;
    top: 10px;
    right: 10px;
}

label {
    background-color: rgb(44, 43, 45);
    border-radius: 50%;
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    user-select: none;
    transition: background 0.3s linear;

}

body.dark label {
    background-color: rgb(252, 243, 225);
}

.input-check {
    visibility: hidden;
}


.checkbtn {
    font-size: 30px;
    color: rgb(69, 33, 2);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/* img */
img {
    height: 35px;
    width: 35px;
    position: fixed;
}

.sun li{
    text-decoration: none;
}


/* Notes form */
.container-all {
    display: flex;
    align-items: center;
    
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    text-align: center;
    padding: 5rem;
    transition: background 0.3s linear, color 0.3s linear;
}

p{
    font-family: 'Apparel light';
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: left;
}

header h1 {
    font-family: 'Apparel Bold';
    font-size: 3.5rem;
    line-height: 2;
}

header .note-form {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

input {
    font-family: 'Apparel Light';
    color: grey;
}

#note-text {
    font-family: 'Apparel Light';
    color: grey;
}

#note {
    padding-bottom: 5px;
}

.note-form > * {
    margin-bottom: 5px;
    outline: none;
    font-size: 1.4rem;
    padding: 7px;
    border: 1px solid #777;
    border-radius: 3px;
}

.note-form textarea {
    padding: 7px 0 40px 5px;
    font-family: inherit;
}

.note-form::placeholder {
    font-size: 1.3rem;
}

.note-form button {
    background-color: rgb(255, 174, 0);
    color: black;
    font-size: 1.6rem;
    font-family: 'Apparel Bold';
    cursor: pointer;
    transition: all .3s;
}

.note-form button:hover {
    background-color: rgb(33, 133, 33);
}

.notes {
    padding: 1rem;
    background-color: #fff;
    border-radius: 5px;
    margin: 1rem 0;
}

.note-counter, 
.note-text {
    font-size: 1.5rem;
    font-family: 'Apparel Light';
    background: #fff;
}

.note {
    margin-bottom: 1rem;
}

.note-title {
    font-size: 1.6rem;
    background: #fff;
}

.note-btn {
    padding: 7px;
    margin-top: 5px;
    outline: none;
    border: none;
    font-family: 'Apparel Bold';
    border-radius: 3px;
    cursor: pointer;
    background-color: #C1554D;
}

.edit-btn {
    background-color: #7fabb1;
}

#note {
    background: white;
}



/* Footer */
footer{
    padding-bottom: 3px 3px;
}

.footer-container {
    display: flex;
    flex-direction: vertical;
    align-items: center;
    justify-content: space-between;
    gap: 2px;
    padding: 5px 10px;
}

.footer-info h1{
    font-size: 14px;
    font-family: 'Apparel bold';
}

.footer-info p{
    font-size: 14px;
    font-family: 'Apparel light';
}










