*, htm, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.logo a{
    text-decoration: none;
    color: rgb(255, 174, 0);
}

nav {
    height: 80px;
    padding-bottom: 6.9rem;
    font-family: 'Cormorant Garamond', serif;
}

label.logo{
    color: rgb(255, 174, 0);
    font-size: 35px;
    line-height: 115px;
    padding: 0 100px;
    font-weight: bold;
    font-family: 'Cormorant Garamond', serif;
}

nav ul {
    float: right;
    margin: 20px;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}

nav ul li a{
    color: black;
    font-size: 17px;
    padding-right: 15px;
    letter-spacing: -1px;
}

a:hover {
    font-family: 'Cormorant Garamond', serif;
    transition: 0.5s;
} 


.get-started {
   border: line solid green;
} 


.get-started a:hover {
    background: rgb(255, 174, 0);
    padding: 12px 12px;
    border-radius: 15px;
    border: none;
}

.checkbtn {
    font-size: 30px;
    color: rgb(69, 33, 2);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    padding-top: 1rem;
}

#check {
    display: none;
}

/* img */
img {
    height: 35px;
    width: 35px;
    position: fixed;
}

.sun li{
    text-decoration: none;
}


/* Notes form */
.container-all {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    min-height: 70vh;
    text-align: center;
    padding: 5rem;
}

p{
    font-family: 'Apparel light';
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: left;
}

header h1 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 3.5rem;
    line-height: 2;
}

header .note-form {
    display: flex;
    flex-direction: column;
    width: 40rem;
}

input {
    font-family: 'Apparel Light';
    color: grey;
}

#note-text {
    font-family: 'Apparel Light';
    color: grey;
}

#note {
    padding-bottom: 5px;
}

.note-form > * {
    margin-bottom: 5px;
    outline: none;
    font-size: 1.4rem;
    padding: 7px;
    border: 1px solid #777;
    border-radius: 3px;
}

.note-form textarea {
    padding: 7px 0 40px 5px;
    font-family: inherit;
}

.note-form::placeholder {
    font-size: 1.3rem;
}

.note-form button {
    background-color: rgb(255, 174, 0);
    color: black;
    font-size: 1.6rem;
    font-family: 'Cormorant Garamond', serif;
    cursor: pointer;
   /* transition: all .3s; */
}


.notes {
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem 0;
}

.note-counter, 
.note-text {
    font-size: 1.5rem;
    font-family: 'Apparel Light';
    background: #fff;
}

.note {
    margin-bottom: 1rem;
}

.note-title {
    font-size: 1.6rem;
    background: #fff;
}

.note-btn {
    padding: 7px;
    margin-top: 5px;
    outline: none;
    border: none;
    font-family: 'Cormorant Garamond', serif;
    border-radius: 3px;
    cursor: pointer;
    background-color: #C1554D;
}

.edit-btn {
    background-color: #7fabb1;
}

#note {
    background: white;
}












